.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.vscode/
Package.resolved

CLAUDE.md
.claude/
.worktrees/
docs/plans/*
docs/api/

.github/
Service Attach.xcodeproj
